<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tela de Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form method="POST">
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" required>

      <button type="submit">Entrar</button>
    </form>
  </div>
</body>
</html>
